.background-buttons :hover{
  background-color: #FFD193!important;
  color: #3C4665!important;
}
.newAgent {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  cursor: pointer;
  color: #7a7a7a;
  background-color: #FFD193;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  box-shadow: 2px 2px 3px #999;
}